.Board{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--rp-base);
}

.EquationDiv, .TableDiv{
    display: grid;
    background-color: var(--rp-surface);
    border-radius: 26px;
    justify-content: center;
}

.EquationDiv{
    margin-bottom: 30px;
}

.CircuitDiv, .Board1{
    margin:125px 90px 125px 90px;
}

.Board1{
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin-right: 0px;
}

.CircuitDiv{
    margin-left: 30px;
    display: grid;
    background-color: var(--rp-muted);
    border-radius: 26px;
    justify-content: center;
    align-items: center;
}