.Board{
    width:100%;
}

.Input {
    display: grid;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 100px 0px;
}

.InputMenu {
    width: 100%;
    display: grid;
    justify-content: center;
    position: absolute;
}