
.inputMenu{
    display: grid;
    justify-content:center;
    text-align: center;
}

.inputMenu div{
    text-align: center;
    background-color: var(--dracula-current_line);
    width: fit-content;
    border-radius:0px 0px 10px 10px;
    display: flex;
}

.inputMenuButton{
    color: var(--dracula-cyan);
    background: none;
    border: none;
    transition: font-size 0.3s ease-in-out;
    font-size: var(--title);
}

.inputMenuSeparador{
    border-left: solid var(--dracula-background) 1px;
}


.inputMenuButton:hover{
    color: var(--dracula-pink);
    background: none;
    border: none;
    transition: font-size 0.3s ease-in-out;
    font-size: 1.8rem;
    cursor: pointer;
}