.InputTableDiv{
    display: grid;
    align-items: center;
    height: fit-content;
    max-height: 100%;
  }

.InputTable .MuiDataGrid-cell {
    text-align: center !important;
    align-items: center;
    color: var(--rp-text);
    font-family: 'Jebrains', sans-serif;
    font-size: 1.5rem;
}
 
.InputTable .MuiDataGrid-cell:hover, .GridColumnHeader:hover {
    color: var(--rp-text);
}

.GridColumnHeader{
    background-color: var(--rp-overlay);
    color: var(--rp-foam);
    font-family: 'Jebrains', sans-serif;
    font-size: 1.5rem;
}

.InputTable .MuiDataGrid-cell--editing {
    background-color: var(--rp-muted) !important;
    color: var(--rp-text) !important;
}

@media screen and (max-width:500px) {
    .GridColumnHeader{
        font-size: 1rem;
    }
    .InputTable .MuiDataGrid-cell {
        font-size: 1rem;
    }
}