.InputTableDiv{
    display: grid;
    align-items: center;
    color: var(--rp-foam);
  }

.InputTable .MuiDataGrid-cell {
    color: var(--rp-foam);
    border:0.01px solid var(--dracula-foreground);
    text-align: center !important;
    align-items: center;
}
 
.InputTable .MuiDataGrid-cell:hover, .GridColumnHeader:hover {
    color: var(--dracula-pink);
}

.GridColumnHeader{
    background-color: var(--rp-overlay);
    color:var(--rp-foam);
}

.InputTable .MuiDataGrid-cell--editing {
    background-color: var(--rp-muted) !important;
    color: var(--dracula-pink) !important;
}